---
import { acct, type entities } from 'misskey-js';
import MkUserName from './MkUserName.astro';
import Mfm from './mfm/Mfm.astro';

interface Props {
    host: string;
    note: entities.Note;
}

const { host, note } = Astro.props;

const { user, createdAt, text, emojis } = note;

const dateCreatedAt = new Date(createdAt);
---

<article>
    <p>
        <a href={`/m/${host}/@${acct.toString(user)}`}>
            <MkUserName user={user} />
        </a>
    </p>
    <a href={`/m/${host}/notes/${note.id}`}>
        <time datetime={dateCreatedAt.toISOString()}>
            {dateCreatedAt.toLocaleString('ja')}
        </time>
    </a>
    <p>
        {
            text && (
                <Mfm
                    text={text}
                    author={note.user}
                    host={host}
                    emojiUrls={emojis}
                />
            )
        }
    </p>
</article>
