---
import { acct, type entities } from 'misskey-js';
import MkUserName from './MkUserName.astro';

interface Props {
    host: string;
    note: entities.Note;
}

const { host, note } = Astro.props;

const { user, createdAt, text } = note;

const dateCreatedAt = new Date(createdAt);
---

<article>
    <p>
        <a href={`/m/${host}/@${acct.toString(user)}`}>
            <MkUserName user={user} />
        </a>
    </p>
    <a href={`/m/${host}/notes/${note.id}`}>
        <time datetime={dateCreatedAt.toISOString()}>
            {dateCreatedAt.toLocaleString('ja')}
        </time>
    </a>
    <p>{text ?? '(本文なし)'}</p>
</article>
