---
import { acct, type entities } from 'misskey-js';

interface Props {
    host: string;
    note: entities.Note;
}

const { host, note } = Astro.props;

const { user, createdAt, text } = note;

const dateCreatedAt = new Date(createdAt);
---

<article>
    <h2>
        <a href={`/m/${host}/@${acct.toString(user)}`}
            >{user.name ?? user.username}</a>
    </h2>
    <a href={`/m/${host}/notes/${note.id}`}>
        <time datetime={dateCreatedAt.toISOString()}>
            {dateCreatedAt.toLocaleString('ja')}
        </time>
    </a>
    <p>{text ?? '(本文なし)'}</p>
</article>
